:root { --particular-ad: 2.5rem }

@media (max-width: 1024px) {
    :root { --particular-ad: 8rem }
}


.active{
  color: #154bfc;
}

.image-view-post:hover .view-post{
  opacity:1;
  animation: alternate-reverse 1s linear 0ms infinite;
}

.image-view-post:hover img{
  -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
}

@keyframes alternate-reverse{
  0%{
    transform: translateX(6px);
  }
  100%{
    transform: translateX(16px);

  }
}


.container_here,
.container_here-fluid,
.container_here-xxl,
.container_here-xl,
.container_here-lg,
.container_here-md,
.container_here-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  /* padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5); */
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container_here-sm, .container_here {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .container_here-md, .container_here-sm, .container_here {
    max-width: 740px;
  }
}
@media (min-width: 1024px) {
  .container_here-lg, .container_here-md, .container_here-sm, .container_here {
    max-width: 990px;
  }
}
@media (min-width: 1300px) {
  .container_here-xl, .container_here-lg, .container_here-md, .container_here-sm, .container_here {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container_here-xxl, .container_here-xl, .container_here-lg, .container_here-md, .container_here-sm, .container_here {
    max-width: 1350px;
  }
}
@media (min-width: 2048px) {
  .container_here-xxl, .container_here-xl, .container_here-lg, .container_here-md, .container_here-sm, .container_here {
    max-width: 1650px;
  }
}
 

.navbar > .container_here,
.navbar > .container_here-fluid,
.navbar > .container_here-sm,
.navbar > .container_here-md,
.navbar > .container_here-lg,
.navbar > .container_here-xl,
.navbar > .container_here-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 1024px) {
  .width_20p{
      width: 24%;
  }
  .editorClassName{
    margin-top: 1rem;
  }
}

.editorClassName{               
  margin-top:"8rem" !important;         
}
.superFancyBlockquote {
  color: rgb(209, 205, 205);
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);
 .google-btn {
	 width: 184px;
	 height: 42px;
	 background-color: #4285f4;
	 border-radius: 2px;
	 box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}
 .google-btn .google-icon-wrapper {
	 position: absolute;
	 margin-top: 1px;
	 margin-left: 1px;
	 width: 40px;
	 height: 40px;
	 border-radius: 2px;
	 background-color: #fff;
}
 .google-btn .google-icon {
	 position: absolute;
	 margin-top: 11px;
	 margin-left: 11px;
	 width: 18px;
	 height: 18px;
}
 .google-btn .btn-text {
	 float: right;
	 margin: 11px 11px 0 0;
	 color: #fff;
	 font-size: 14px;
	 letter-spacing: 0.2px;
	 font-family: Roboto;
	;
}
 .google-btn:hover {
	 box-shadow: 0 0 6px #4285f4;
}
 .google-btn:active {
	 background: #1669f2;
}