.active{
  color: #154bfc;
}

.image-view-post:hover .view-post{
  opacity:1;
  animation: alternate-reverse 1s linear 0ms infinite;
}

.image-view-post:hover img{
  -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
}

@keyframes alternate-reverse{
  0%{
    transform: translateX(6px);
  }
  100%{
    transform: translateX(16px);

  }
}
 

  
